body {
    background-image: url(../img/anh3.png)
}
.text-center {
    text-align: center;

}
h1 {
    text-align: center;
    margin-bottom: 10px;

}
p { 
    margin-top: 5px;
    font-size: 22px;

}
.wrap {
    width: 1253px;
    height: 500px;
    margin: auto;
}
.content {
    list-style-type: none;
    overflow: auto;
    padding-left: 0px;
}
.item {
    width: 300px;
    height: 250px;
    border: 1px solid black;
    float: left;
    margin: 0px 15px 15px 0px;
    border-radius: 8px;
}
.item:nth-child(4n) {
    margin: 0px;
}
.item p {
    text-align: center;
    margin: auto;
    height: 45px;
    line-height: 45px;
    background-color: coral;
    border-radius: 0px 0px 8px 8px;
    border-top: 5px solid green;
}
.item img {
    border-radius: 8px 8px 0px 0px;
    width: 300px;
}