#title {
    text-align: center;
}
#content {
    background-color:yellowgreen;
    height: 500px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
}
#content_left {
width: 672px;
background-color: lightskyblue;
float: left;
padding-left: 10px;
padding-right: 10px;
margin-right: 10px;

}

#content_right {
width: 682px;
background-color: lightgreen;
float: left;
padding-left: 10px;
padding-right: 10px;

}
#a1 {
    color: mediumblue;
}
.label_song {
    color: tomato;
}
.lyric_song {
    color: rgb(207, 14, 14);
    font-style: italic;

}