#title {
    text-align: center;
}
#content {
    background-color:rgb(240, 225, 16);
    height: 200px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
}
#content_left {
width: 672px;
background-color: lightskyblue;
float: left;
padding-left: 10px;
padding-right: 10px;
margin-right: 10px;
margin-left: 5px;
}

#content_right {
width: 655px;
background-color: lightgreen;
float: left;
padding-left: 10px;
padding-right: 10px;
margin-left: 5px;

}
#a1 {
    color: mediumblue;
    text-align: center;
}
#content_1 {
    background-color: burlywood;
    height: 200px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
}
#content_a {
    width: 400px;
    background-color: rgb(95, 46, 71);
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    float: left;
}
#content_b {
    width: 470px;
    background-color: rgb(46, 95, 93);
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    margin-left: 5px;
}
#content_c {
    width: 425px;
    background-color: rgb(72, 40, 216);
    padding-left: 10px;
    padding-right: 10px;
    float: right;
    padding-bottom: 10px;
}
#content_2 {
    background-color: cornflowerblue;
    height: 210px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
}
#content_d {
    background-color: darkslategray;
    width: 331px;
    padding-top: 10px;
    padding-left: 10px;
    float: left;
}
#content_e {
    background-color: darkgrey;
    width: 331px;
    float: left;
    margin-left: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}
#content_f {
    background-color: grey;
    width: 321px;
    float: left;
    margin-left: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}
#content_g {
    background-color: rgb(44, 44, 1);
    width: 331px;
    float: right;
    margin-left: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}
.label_song {
    color: green;
}
.lyric_song {
    color:black;
    font-style: italic;

}
