span {
    display: block;
}

ol {
    list-style-type: armenian;
}

ul {
    list-style-image: url(../icon.png);
    
}

th, td {
    text-align: center;
    height: 50px;
    vertical-align: bottom;
    border-top:1px solid gray;
    border-bottom: 1px solid gray;
}

table {
    border-collapse: collapse;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

tr:nth-child(2n+1) {
    background-color: gray;
}