h1 {
text-decoration: underline; 
text-align: center;
text-transform: uppercase;
}
p {
    font-style: italic;
    word-spacing: 10px;
    letter-spacing: 5px;
    font-size: 15px;
    font-weight: bold;

}
div {
    background-color: palevioletred;
    background-repeat: repeat-y;
    height: 100px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 8px;

}